body{
    background-color:rgba(97, 99, 102, 0.753);
    font-size: larger;
    color: aliceblue;
}

.btn{
    margin-right: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    border-color: black;
}

img{
    width:12rem;
    height:12rem;
    object-fit:cover;
    margin-top: 1rem;
    
}

#imagem{
    display: flex;
    justify-content: center;
}

#divPerfil{
    width: 30rem;
    height: 32rem;
    background-color: lightgray;
    border-color: aliceblue;
    border-width: 2px;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    border-radius: 15px;
    margin-top: 2rem;
    

}

#dados{
    padding-top: 50px;
}

#logout{
    margin-left: 10rem;
    background-color: red;
}
    
