body{
    background-color: dimgray;
}

.card {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 5px 5px 5px 5px;
    display: flex;
    border-radius: 15px;
    background-color: lightgray;
    border-width: 2px;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .2);
    cursor: pointer;
    
}
.g{
    text-align: justify;
}

.card:hover{
    outline: solid 1px;
    outline-width: 5px;
    transition: outline 0.15s linear;
}
.card:not(:hover){
    outline: solid 0px;
    outline-width: 0px;
    transition: outline 0.15s linear;
}

.header{
    color: azure;
}


.btn{
    margin-right: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    border-color: black;
}
.btn:hover{
    color: grey;
    transition: color 0.1s linear;
}
#btnNoticia{
    font-size: 30px;
    background-color: #0d6efd;
    color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    margin-top: 6rem;
}
#btnNoticia:hover{
    outline: solid 1px black;
    outline-width: 5px;
    transition: outline 0.1s linear;
}
#add{
    margin-right: 5px;
}

.nav-link{
    margin-left: 1rem;
    border: white solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 2px
}
.nav-link:hover{
    padding: 5px;
    transition: padding 0.15s linear;
}

.img{
    display: flex;
    align-items: center;
}

#conteudo{
    height: 25rem
}

.rowNot{
    margin-right: 2rem;
}




    
